@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800;900&display=swap');
html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #202146;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900 !important;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
    color: #9db7ff;
}

img {
    width: 100%;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(38, 129, 248, 0.7), rgba(94, 0, 156, 0.7));
    z-index: -1;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_img {
    max-width: 75%;
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar-dark .navbar-toggler-icon {
    color: #ffffff;
}

.navbar-dark .nav-item {
    margin-left: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 24px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #4099ff;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #99c5ff;
}

.carousel {
    width: 100%;
    margin: auto;
}

.card {
    background-color: transparent;
}

.socials a {
    color: white;
    font-size: 40px;
}

.faq {
    background-color: rgba(255, 255, 255, 0.1);
}

.btn {
    padding: 14px 22px;
}

.accordion-body {
    color: black;
}

.btn:hover {
    color: white;
    transform: translateY(-5px);
}

.btn-main {
    background: linear-gradient(to right, #2681f8, #5e009c);
    border-radius: 100px;
    border: 2px solid white;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease;
}

.video-btn {
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, #2681f8, #5e009c);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 100px;
    font-size: 32px;
}

.section-intro {
    margin-bottom: 40px;
}

.section-intro .divider {
    height: 4px;
    width: 400px;
    background: linear-gradient(to right, #2681f8, #5e009c);
    margin: 16px auto;
}

.service .service-img {
    position: relative;
}

.service .service-img .icon {
    width: 90px;
    height: 90px;
    background: linear-gradient(to right, #2681f8, #5e009c);
    color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-45px);
}

.service .service-img .icon i {
    font-size: 36px;
}

.feature i {
    background: -webkit-linear-gradient(#2681f8, #5e009c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 54px;
}

.review {
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
}

.review .person {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 18px;
}

.review .person img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.review .stars {
    color: orange;
}

form .form-control {
    border-radius: 0px;
    border-color: rgba(255, 255, 255, 0.4);
    background-color: transparent;
    transition: all 0.3s ease;
}

form input .form-control {
    height: 54px;
}

form .form-control::placeholder {
    color: white;
}

form .form-control:focus {
    color: white;
    background-color: transparent;
    color: white;
}

footer {
    color: white;
    background: linear-gradient(to right, #2681f8, #5e009c);
}

footer a {
    color: white;
    font-size: 32px;
}

@media (max-width: 991px) {
    .navbar-dark .navbar-collapse {
        background-color: rgba(32, 33, 70, 0.9);
        margin-top: 10px;
    }
    .title_img {
        max-width: 90%;
    }
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


/* medium and up screens */

@media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}